<div [class.alternative]="isDarkTheme" fxLayout="column" fxLayout-xs="column">


<mat-toolbar color="primary">
  <mat-toolbar-row >

    <a routerLink="/books">Books</a>
    <button mat-raised-button color="primary" fxFlexOffset="90"  (click)="changeTheme()">Dark Mode</button>
  </mat-toolbar-row>
</mat-toolbar>
<!--<app-books></app-books>-->
<router-outlet></router-outlet>
</div>
